In [1]:
import pandas as pd
import numpy as np

In [2]:
# Đọc Dataframe từ file csv, với các cột như sau
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
babynames_df = pd.read_csv('STATE.CA.TXT',header=None,names=field_names)
babynames_df

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
1         CA   F  1910     Helen    239
2         CA   F  1910   Dorothy    220
3         CA   F  1910  Margaret    163
4         CA   F  1910   Frances    134
...      ...  ..   ...       ...    ...
407423    CA   M  2022   Zayvier      5
407424    CA   M  2022       Zia      5
407425    CA   M  2022      Zora      5
407426    CA   M  2022    Zuriel      5
407427    CA   M  2022      Zylo      5

[407428 rows x 5 columns]

In [3]:
# Show 10 dòng ngẫu nhiên
random_rows = babynames_df.sample(n=10)

# Display the random rows
print(random_rows)

       State Sex  Year      Name  Count
165191    CA   F  2004    Amaris     43
158624    CA   F  2002      Kati     11
376481    CA   M  2012    Brodie     27
363305    CA   M  2007     Boris      6
286908    CA   M  1972     Judah      7
153297    CA   F  2001     Ciara     85
358857    CA   M  2006    Jaylin     34
358310    CA   M  2006   Gustavo    341
72593     CA   F  1975  Marianna     12
393935    CA   M  2018    Atharv     32

In [4]:
# Hiển thị DF chỉ gồm female 
female_df = babynames_df[babynames_df['Sex'] == 'F']
print(female_df)

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
1         CA   F  1910     Helen    239
2         CA   F  1910   Dorothy    220
3         CA   F  1910  Margaret    163
4         CA   F  1910   Frances    134
...      ...  ..   ...       ...    ...
239532    CA   F  2022    Zemira      5
239533    CA   F  2022     Ziggy      5
239534    CA   F  2022     Zimal      5
239535    CA   F  2022     Zosia      5
239536    CA   F  2022     Zulay      5

[239537 rows x 5 columns]

In [5]:
# Hiển thị DF gồm những người male, sinh trước 2000
male_df = babynames_df[(babynames_df['Sex'] == 'M') & (babynames_df['Year'] < 2000)]
print(male_df)

       State Sex  Year      Name  Count
239537    CA   M  1910      John    237
239538    CA   M  1910   William    170
239539    CA   M  1910     James    159
239540    CA   M  1910    Robert    141
239541    CA   M  1910    George    138
...      ...  ..   ...       ...    ...
342435    CA   M  1999     Yuuki      5
342436    CA   M  1999  Zakariya      5
342437    CA   M  1999    Zavier      5
342438    CA   M  1999      Zayn      5
342439    CA   M  1999     Zayne      5

[102903 rows x 5 columns]

In [6]:
# Hiển thị 3 babynames với count > 250
top_names = babynames_df[babynames_df['Count'] > 250].sort_values('Count').head(3)
print(top_names)

       State Sex  Year      Name  Count
44080     CA   F  1961  Charlene    251
393333    CA   M  2018      Milo    251
393332    CA   M  2018    Emmett    251

In [7]:
# Hiển thị các babynames có tên là Bella, Alex, Narges, hoặc Lisa
names_of_interest = ['Bella', 'Alex', 'Narges', 'Lisa']
selected_names = babynames_df[babynames_df['Name'].isin(names_of_interest)]
print(selected_names)

       State Sex  Year   Name  Count
6289      CA   F  1923  Bella      5
7512      CA   F  1925  Bella      8
12368     CA   F  1932   Lisa      5
14741     CA   F  1936   Lisa      8
17084     CA   F  1939   Lisa      5
...      ...  ..   ...    ...    ...
393248    CA   M  2018   Alex    495
396111    CA   M  2019   Alex    438
398983    CA   M  2020   Alex    379
401788    CA   M  2021   Alex    333
404663    CA   M  2022   Alex    344

[317 rows x 5 columns]

In [8]:
# Hiển thị với những Name bắt đầu bằng chữ N
names_starting_with_N = babynames_df[babynames_df['Name'].str.startswith('N')]
print(names_starting_with_N)

       State Sex  Year    Name  Count
76        CA   F  1910   Norma     23
83        CA   F  1910  Nellie     20
127       CA   F  1910    Nina     11
198       CA   F  1910    Nora      6
310       CA   F  1911  Nellie     23
...      ...  ..   ...     ...    ...
407319    CA   M  2022   Nilan      5
407320    CA   M  2022   Niles      5
407321    CA   M  2022   Nolen      5
407322    CA   M  2022  Noriel      5
407323    CA   M  2022  Norris      5

[12229 rows x 5 columns]

In [9]:
# Thêm cột name_lengths với giá trị là số lượng ký tự của cột Name
babynames_df['Name_Lengths'] = babynames_df['Name'].apply(lambda x: len(str(x)))
print(babynames_df)

       State Sex  Year      Name  Count  Name_Lengths
0         CA   F  1910      Mary    295             4
1         CA   F  1910     Helen    239             5
2         CA   F  1910   Dorothy    220             7
3         CA   F  1910  Margaret    163             8
4         CA   F  1910   Frances    134             7
...      ...  ..   ...       ...    ...           ...
407423    CA   M  2022   Zayvier      5             7
407424    CA   M  2022       Zia      5             3
407425    CA   M  2022      Zora      5             4
407426    CA   M  2022    Zuriel      5             6
407427    CA   M  2022      Zylo      5             4

[407428 rows x 6 columns]

In [10]:
# Hãy cho biết số lượng baby có tên 'Alice' trung bình hàng năm là bao nhiêu
average_count = babynames_df[babynames_df['Name'] == 'Alice'].groupby('Year')['Count'].mean()
print(average_count)

Year
1910    118.0
1911    127.0
1912    181.0
1913    202.0
1914    212.0
        ...
2018    465.0
2019    444.0
2020    413.0
2021    374.0
2022    394.0
Name: Count, Length: 113, dtype: float64

In [11]:
# Hiển thị tất cả các tên trong DF, mỗi tên chỉ hiển thị 1 lần
unique_names = babynames_df['Name'].unique()
print(unique_names)

['Mary' 'Helen' 'Dorothy' ... 'Zae' 'Zai' 'Zayvier']

In [12]:
# Tìm babynames phổ biến nhất trong năm 2020
popular_names_2020 = babynames_df[babynames_df['Year'] == 2020].sort_values('Count', ascending=False)
top_names_2020 = popular_names_2020.head()
print(top_names_2020)

       State Sex  Year    Name  Count  Name_Lengths
398869    CA   M  2020    Noah   2630             4
398870    CA   M  2020    Liam   2426             4
228550    CA   F  2020  Olivia   2353             6
228551    CA   F  2020  Camila   2187             6
228552    CA   F  2020    Emma   2110             4